@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-600: #15803d;
  --brand-700: #14532d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
